<h1>Coupons:</h1>
<%= link_to 'Create Coupon', new_merchant_coupon_path(@merchant) %><br>

<section class="activated">
  <h3>Activated Coupons: </h3>
  <% @merchant.activated.each do |coupon| %>
    <div id=<%="coupon-#{coupon.id}" %>>
      <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %>
      <%= coupon.amount%> <%= coupon.coupon_type %> off<br>
    <% end %>
  </div>
</section>

<section class="deactivated">
  <h3>Deactivated Coupons: </h3>
  <% @merchant.deactivated.each do |coupon| %>
    <div id=<%="coupon-#{coupon.id}" %>>
      <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %>
      <%= coupon.amount%> <%= coupon.coupon_type %> off<br>
    <% end %>
  </div>
</section>
